body {
    background-image: url("https://images.pexels.com/photos/6373406/pexels-photo-6373406.jpeg?auto=compress&cs=tinysrgb&w=1200");
    background-size:inherit;

}
.container {
    text-align: center;
    color: rgb(0, 0, 0);
}

h2{
    font-size: 40px;
    font-weight: bold;
}

#inputTask {
    background-color: #1ECBE1;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 6px;
    border: 1px solid black;
}

button {
    background-color: #e34f4f;
    color: black;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 6px;
    border: none;
}
#addTask{
    background-color: #27cf73;
    color: black;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 6px;
    border: none;
}
#removeTask {
    background-color: #e34f4f;
    color: black;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 6px;
    border: none;
}

#editTask {
    background-color: #cdeb26;
    color: black;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 6px;
    border: none;
    margin-left: 5px;
}

li {
    list-style-position: inside;
    text-align: center;
}
