* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
body {
    background: url('https://images.pexels.com/photos/6373406/pexels-photo-6373406.jpeg?auto=compress&cs=tinysrgb&w=1200') no-repeat;
    background-size: cover;
} 
.container {
    text-align: center;
    color: rgb(0, 0, 0);
}

h2{
    font-size: 40px;
    font-weight: bold;
}

#inputTask {
    background-color: #1ECBE1;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 6px;
    border: 1px solid black;
}

button {
    background-color: #e34f4f;
    color: black;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    transition: background-color 0.5s; /* Add a transition for the hover effect */
    transition: all 0.3s ease-in-out;
    margin: 3px;
}

button:hover {
    background-color: #efa6a6; /* Change the background color on hover */
    transform: scale(1.2);
}

#addTask{
    background-color: #27cf73;
    color: black;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 6px;
    border: none;
    transition: background-color 0.5s;
    transition: all 0.3s ease-in-out;
    margin-left: 8px;
}
#addTask:hover {
    background-color: #b3f0ce;
    transform: scale(1.2);
}

#removeTask {
    background-color: #e34f4f;
    color: black;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 6px;
    border: none;
    transition: all .3s ease-in-out;
}
#removeTask:hover {
    background-color: #efa6a6;
    transform: scale(1.2);
}

#editTask {
    background-color: #cde542;
    color: black;
    padding-left: 15px;
    padding-right: 15px;
    border-radius: 6px;
    border: none;
    margin-left: 5px;
    transition: background-color 0.5s;
    transition: all .3s ease-in-out; 
}
#editTask:hover {
    background-color: #deec8c;
    transform: scale(1.2);
}
li {
    list-style-position: inside;
    text-align: center;
} 

